<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
    <div class="box">
        <h1>Iniciar sesion</h1>
        <form action="" class="login">
            <span>Correo</span>
            <input type="email" id="email">
            <span>Contraseña</span>
            <input type="password" id="password">
            <label id="error">Usuario o contraseña incorrectos</label>
        </form>
        <button class="loginButton" onclick="login()" >Iniciar sesion</button>
        <label id="success">Login exitoso</label>
        <a href='/register'>Crear cuenta<a>
    </div>
</body>
<script src="../static/js/javascript.js"></script>
</html>